li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(221, 204, 179);
    margin: 15px 0;
    padding: 0 5px;
    border-radius: 10px;
    font-size: 25px;
}
.productInfoContainer{
    display: flex;
    align-items: center;
    padding-left: 5px;
    color: rgb(97, 76, 47);
}
.productInfoContainer p {
    padding: 7px;
}
.productQuantityContainer{
    display: flex;
    align-items: center;
}
.productQuantityContainer button{
    background: none;
    font-size: 25px;
    color: black;
    padding: 0;
}
.productQuantityContainer button:hover{
    background: none;
    color: rgb(56, 54, 54);
}