.themeButton{
    min-width: 70px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease-in;
    border: none;
}
.themeCircle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}
.themeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: none;
}
.darkMode .themeCircle{
    background-color: rgb(203, 199, 194);
    transform: translateX(15px);
}
.darkMode .themeContainer{
    background-color: rgb(89, 85, 79);
}
.ligthMode .themeCircle{
    background-color: rgb(39, 38, 38);
    transform: translateX(-15px);
}
.ligthMode .themeContainer{
    background-color: rgb(224, 223, 222);
}